#banner {
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 500px;
}

#services {
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    height: 70vh;
}

#contact {
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-size: cover;
    height: 80vh;
}

input {
    width: 100%;
    background-color: transparent;
    border: solid white 1px;
    color: white;
}

.msg {
    height: 150px;
}

.custom-padding {
    padding-top: 3%;
}

#design-p, #development-p, #product-p {
    display: none;
}

#what-we-do img {
    cursor: pointer;
}

#overlay1 {
    display: none;
    width: 255px;
    height: 210px;
    background-color: yellow;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 0;
    color: black;
}

#overlay2 {
    display: none;
    width: 255px;
    height: 210px;
    background-color: green;
    opacity: 0.7;
    z-index: 1;
    position: absolute;
    top: 0;
    color: white;
}

#overlay3 {
    display: none;
    width: 255px;
    height: 210px;
    background-color: red;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 0;
    color: white;
}

#overlay4 {
    display: none;
    width: 255px;
    height: 210px;
    background-color: blue;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 0;
    color: white;
}

#overlay5 {
    display: none;
    width: 255px;
    height: 210px;
    background-color: white;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 0; 
    color: black;
}

#overlay6 {
    display: none;
    width: 255px;
    height: 210px;
    background-color: purple;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 0;
    color: white;
}

#overlay7 {
    display: none;
    width: 255px;
    height: 210px;
    background-color: grey;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 0;
    color: black;
}

#overlay8 {
    display: none;
    width: 255px;
    height: 210px;
    background-color: maroon;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 0;
    color: white;
}