#banner {
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 500px;
}

#services {
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    height: 70vh;
}

#contact {
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-size: cover;
    height: 80vh;
}

input {
    width: 100%;
    background-color: transparent;
    border: solid white 1px;
    color: white;
}

.msg {
    height: 150px;
}

.custom-padding {
    padding-top: 3%;
}

#design-p, #development-p, #product-p {
    display: none;
}

#what-we-do img {
    cursor: pointer;
}